header {
    background-color: aquamarine;
    color: red;
    margin: 0;
}

body menu {
    margin: 0;
    padding: 20px;
    margin-left: 600px;

}

body menu button {
    margin: 0;
    padding: 5px;

}

.photo {
    margin-left: 900px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}



body {
    background-color: burlywood;
    margin: 0;
}

body h1 {

    position: relative;
    left: 300px;
    top: 200px;

}

header img {
    margin-left: 150px;
}


main #apropos {

    position: relative;
    text-align: center;
    bottom: 350px;
    right: 300px;
}

main #technologie h2 {
    margin-left: 450px;
    
}

#html {
    margin-left: 800px;
}

#css {
    margin-left: 1000px;
}

#github {
    margin-left: 1200px;
}





footer {
    background-color: darkred;
    margin: 0;
}

main {
    color: deeppink
}

main h2 {

    color: crimson;
}

main h3 {
    color: darkorange;
}