header {
    background-color: aquamarine;
    color: red;
    margin: 0;
}

header menu button {
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}


header menu button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(5, 182, 252, 0.8);
}

header menu a[href="#apropos"] button {
  background-color: black;          
}

header menu a[href="#softskill"] button {
  background-color: mediumpurple;   
}

header menu a[href="#realisation"] button {
  background-color: yellow;
  color: black;                    
}

header menu a[href="#technologie"] button {
  background-color: coral;          
}



body menu {
    margin: 0;
    padding: 20px;
    margin-left: 600px;

}

body menu button {
    margin: 0;
    padding: 5px;

}

.photo {

    margin-left: 900px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}



body {

    margin: 0;
}

body h1 {

    position: relative;
    left: 300px;
    top: 200px;

}

header img {
    margin-left: 150px;
}


main #apropos {

    position: relative;
    text-align: center;
    bottom: 350px;
    right: 300px;
}

main #technologie h2 {
    margin-left: 450px;

}

#html {
    margin-left: 800px;
}

#css {
    margin-left: 1000px;
}

#github {
    margin-left: 1200px;
}





footer {
    background-color: darkred;
    margin: 0;
}

main {
    background-color: burlywood;
    color: rgb(20, 187, 238)
}

main h2 {

    color: crimson;
}

main h3 {
    color: rgb(77, 45, 6);
}

#apropos {
    background-color: rgb(0, 0, 0);
}

#technologie {
    background-color: coral;
}

#softskill {
    background-color: mediumpurple;
    position: relative;

}
#softskill li {
    position: relative;
    margin-left: 800px;
    
}
#softskill h2 {
    margin-left: 800px;
}
#softskill img {
    position: relative;
    margin-left: 150px;
    
}

#realisation {
    background-color: yellow;
}
